<header class="bg-red-500 p-2">
    <nav class="flex justify-between items-center">
      <div class="text-white text-xl font-semibold">
        <a [routerLink]="['/afdelingen']" routerLinkActive="router-link-active">  <img src="assets/chiro.png" alt="" style="height: 50px;" /></a>
      </div>
      <ul class="flex space-x-4 items-center">
        <!-- <li routerLink="/" class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Dashboard</a></li> -->
        <li routerLink="/afdelingen" class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Afdelingen</a></li>
        
        <li *ngIf="!loggedIn" routerLink="/login" class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Login</a></li>
        <li *ngIf="loggedIn" routerLink="/logout" class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Logout</a></li>
        
        <li [routerLink]="['/AdminDashboard']" routerLinkActive="router-link-active"  class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Admin</a></li>
<!--         <li [routerLink]="['/subParent']" routerLinkActive="router-link-active"  class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Super Scary Subject stuff</a></li> -->
      </ul>
      <div class="relative" (mouseenter)="showResults = true" (mouseleave)="showResults = false">
        <form action="">
          <input 
            *ngIf="!loggedIn" 
            [(ngModel)]="searchText" 
            type="text" 
            placeholder="Search" 
            class="px-3 py-1 text-gray-800 border rounded-lg focus:outline-none focus:border-blue-500" 
            (focus)="showResults = true" 
            (blur)="showResults = false"
          />
      
          <button *ngIf="!loggedIn" class="absolute right-0 top-0 mt-1 mr-2">
            <i class="fas fa-search text-gray-600"></i>
          </button>
      
          <div *ngIf="loggedIn" id="spacer"></div>
        </form>
      
        <div 
          *ngIf="showResults && searchText != ''" 
          class="absolute left-0 w-full mt-2 bg-white border border-gray-300 rounded-lg shadow-lg"
        >
          <ul>
            <li *ngFor="let result of searchResults">{{ result }} www</li>
          </ul>
        </div>
      </div>
      
    </nav>
  </header>
  