<footer class="bg-red-500 text-white ... sticky bottom-0" id="footer">
    <div class="grid grid-cols-3">
        <div class="col-span-1"></div>
        <div class="col-span-1 text-sm font-semibold flex items-center justify-center">
            <span>&copy; 2023 Killian Serluppens. All rights reserved.</span>
        </div>
        <div class="col-span-1 flex items-center justify-end space-x-4 mr-6">
            <a href="https://www.linkedin.com/in/killian-serluppens-289909224/" class="text-white hover:text-gray-300"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/KilliBruhh" class="text-white hover:text-gray-300"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>
  