rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		function isAuthenticated() {
    	return request.auth.uid != null;
    }
    
    function isAdmin() {
    	return isAuthenticated() &&
      	exists(/databases/$(database)/documents/administrators/$(request.auth.uid));
    }
  }
  
  match /leden/{ledenid} {
  	allow read: if isAuthenticated();
    allow write: if isAuthenticated();
  }
  
  match /administrators/{adminid} {
  	allow	read, write: if false;
  }

  
}