<form #nieuwLidForm="ngForm" (ngSubmit)="submitNieuwLidForm(nieuwLidForm.value)">
<div class="w-4/6 mx-auto mt-1 p-4 border rounded-lg shadow-lg">
    <div class="bg-red-500 text-white text-center py-2 px-4 rounded-t-lg">
      <h2 class="text-xl font-bold">Nieuw Lid Form</h2>
    </div>
    <div class="bg-white p-4 rounded-b-lg ">
      <fieldset class="grid grid-cols-2 border-2 border-stone-300 p-3 rounded-md">
        <legend class="font-semibold">Basis Informatie</legend>

        <div class="w-full md:w-2/2 mb-4 md:pr-2">
          <label for="voornaam" class="font-semibold">Voornaam:</label>
          <input type="text" name="voornaam" placeholder="Voornaam" [(ngModel)]="voornaam"
            class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
        </div>
        <div class="w-full md:w-2/2 mb-4 md:pl-2">
          <label for="name" class="font-semibold">Naam:</label>
          <input type="text" name="name" placeholder="Naam" [(ngModel)]="name"
            class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
        </div>
        <div class="w-full md:w-2/2 mb-4 md:pr-2">
          <label for="department" class="font-semibold">Voornaam Afdeling:</label>
          <select name="department" [(ngModel)]="department"
            class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
            <option value="Ribbel Jongens">Ribbel Jongens</option>
            <option value="Ribbel Meisjes">Ribbel Meisjes</option>
            <option value="Speelclub Jongens">Speelclub Jongens</option>
            <option value="Speelclub Meisjes">Speelclub Meisjes</option>
            <option value="Rakkers">Rakkers</option>
            <option value="Kwiks">Kwiks</option>
            <option value="Toppers">Toppers</option>
            <option value="Tippers">Tippers</option>
            <option value="Kerels">Kerels</option>
            <option value="Tiptiens">Tiptiens</option>
            <option value="Aspi Jongens">Aspi Jongens</option>
            <option value="Aspi Meisjes">Aspi Meisjes</option>
          </select>
        </div>

        <div class="w-full md:w-2/2 mb-4 md:pl-2">
          <label for="geboortedatum" class="font-semibold">Geboorte Datum:</label>
          <input type="date" name="geboortedatum" placeholder="geboortedatum" [(ngModel)]="geboortedatum"
            class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
        </div>
      </fieldset>    

      <!-- Addresses --> 
      <!-- Make Container wider and -ut the 2 addresses next to eachother and the Basis Info and Email Info also next to eachother (so a 2x2 grid using fieldset as the gridbox )-->
      <div class="grid grid-cols-2">
        <fieldset class="grid grid-cols- border-2 border-stone-300 p-3 rounded-md">
          <legend class="font-semibold">Ouder 1 Informatie</legend>

          <div class="w-full md:w-2/2 mb-4 md:pl-2">
            <label for="email" class="font-semibold">Email 2:</label>
            <input type="email" name="email" placeholder="Email 2" [(ngModel)]="email"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>

          <div class="w-full md:w-2/2 mb-4 md:pr-2">
            <label for="phone" class="font-semibold">Telefoon:</label>
            <input type="tel" name="phone" placeholder="Telefoon" [(ngModel)]="phone"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>
          <div class="w-full md:w-2/2 mb-4 md:pl-2">
            <label for="street" class="font-semibold">Straat:</label>
            <input type="text" name="street" placeholder="Straat" [(ngModel)]="street"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
          </div>
          <div class="w-full md:w-2/2 mb-4 md:pr-2">
            <label for="houseNumber" class="font-semibold">Huisnummer:</label>
            <input type="text" name="houseNumber" placeholder="Huisnummer" [(ngModel)]="houseNumber"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
          </div>
          <div class="w-full md:w-2/2 mb-4 md:pl-2">
            <label for="postcode" class="font-semibold">Postcode:</label>
            <input type="text" name="postcode" placeholder="Postcode" [(ngModel)]="postcode"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
          </div>
          <div class="w-full md:w-full mb-4 md:pl-2 col-span-2">
            <label for="city" class="font-semibold">Gemeente:</label>
            <input type="text" name="city" placeholder="Gemeente" [(ngModel)]="city"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300" required>
          </div>
        </fieldset>

        <fieldset class="grid grid-cols-2 border-2 border-stone-300 p-3 rounded-md">
          <legend class="font-semibold">Ouder 2 Informatie</legend>

          <div class="w-full md:w-2/2 mb-4 md:pl-2">
            <label for="email" class="font-semibold">Email:</label>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email_2"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>

          <div class="w-full md:w-2/2 mb-4 md:pr-2">
            <label for="phone" class="font-semibold">Telefoon:</label>
            <input type="tel" name="phone" placeholder="Telefoon" [(ngModel)]="phone_2"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>
          <div class="w-full md:w-2/2 mb-4 md:pl-2">
            <label for="street" class="font-semibold">Straat:</label>
            <input type="text" name="street" placeholder="Straat" [(ngModel)]="street_2"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>
          <div class="w-full md:w-2/2 mb-4 md:pr-2">
            <label for="houseNumber" class="font-semibold">Huisnummer:</label>
            <input type="text" name="houseNumber" placeholder="Huisnummer" [(ngModel)]="houseNumber_2"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>
          <div class="w-full md:w-2/2 mb-4 md:pl-2">
            <label for="postcode" class="font-semibold">Postcode:</label>
            <input type="text" name="postcode" placeholder="Postcode" [(ngModel)]="postcode_2"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>
          <div class="w-full md:w-full mb-4 md:pl-2 col-span-2">
            <label for="city" class="font-semibold">Gemeente:</label>
            <input type="text" name="city" placeholder="Gemeente" [(ngModel)]="city_2"
              class="w-full px-3 py-2 rounded-lg focus:outline-none focus:border-gray-500 border-2 border-gray-300">
          </div>
        </fieldset>
      </div>

      <div class="w-full text-center mt-3">
        <button type="submit"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">Submit</button>
      </div>

      <div class="rounded-md px-2 py-3 font-bold w-full text-center mt-2" [style.border]="bColor" [style.background]="bgColor">
          {{ responseMessage }}
      </div>
    </div>
  </div>
</form>